*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: grid;
    grid-template-rows: 3fr 10fr 3fr;
}

h1{
    text-align: center;
}

.game-container{
    height: 400px;
    width: 400px;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: antiquewhite;
    border: 2px solid black;
}

.game-cell{
    border: 1px solid black;
    font-size: 2rem;
}

.resetBtn{
    text-align: center;
}